coverage
node_modules
build
classes
.DS_Store
npm-debug.log
.gradle
.build.gradle.swp

#Intellij
*.iml
*.ipr
*.iws
.idea

#Eclipse
.settings
.classpath
.project

#Nodejs
nodejs/

logs/
src/main/resources/static/
src/main/webapp/WEB-INF/generated/
